* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;;
}

body {
  background-image: url(/assets/img/aleksandra-khomenko-menu-bg.jpg);
  background-size: cover;
}

.header-bar {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background-color: #00000044;
  align-items: center;
}

.header-bar h2 {
  padding: 10px;
  color: gold;
  text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

a {
  color: #333940;
  text-decoration: none;
}

a:hover {
  color: #404e5f;
}

ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.main {
  width: 90%;
  height: 430px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.texto {
  width: 500px;
  padding: 10px;
  color: #333940;
}

.texto img {
  width: 500px;
}

.trybe {
  width: 700px;
  padding: 10px;
}

.trybe select {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
}

.todos-Projetos {
  width: 100%;
  height: 300px;
}


.teste {
  margin: 10px auto;
  background-color: black;
  width: 95%;
  height: 480px;
  border-radius: 10px;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}

.btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotateY(-50%);
}

.teste-container {
  /* background-color: white; */
  width: 2450px;
  height: 95%;
  display: flex;
  /* gap: 20px; */
  justify-content: space-around;
  /* transform: translateX(-40px); */
  transition: .5s;
}

.teste-select {
  background-color: rgb(202, 202, 202);
  width: 250px;
  height: 100%;
  transition: .2s;
  /* opacity: 80%; */
  /* box-shadow: 0 0 10px red; */
}

.selecionado {
  /* opacity: 80%; */
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 10px white;
  transform: scale(1.05);
}

.not-selecionado {
  opacity: 80%;
  box-shadow: none;
}

input {
  display: none;
}

#tutu {
  display: flex;
  justify-content: center;
}

#tutu label {
  /* display: inline-block; */
  margin: 20px 5px;
  width: 60px;
  height: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1px;
  cursor: pointer;
}

#tutu label:hover {
  background-color: rgb(255, 0, 255);
}

#botao1:checked ~ .teste-container {
  transform: translateX(0);
}

#botao2:checked ~ .teste-container {
  transform: translateX(-88vw);
}

.teste-select:nth-child(1) {
  background-color: #c07766;
}
.img-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
  height: 250px;
}

.img-section img {
  display: flex;
  width: 100px;
  height: 90px;
  flex-shrink: 0;
  border: 2px solid white;
  border-radius: 50%;
}

.img-section h5 {
  display: flex;
}

.h2-name {
  display: flex;
  width: 300px;
  height: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.icon-pos {
  display: flex;
  align-self: center;
}