* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
}

ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}